**/*.map
**/*.min.css
**/*.min.js
_site/**
blog/**
cv/**
old_posts/**
projects/**
publications/**
repositories/**
wp/**
404.html
feed.xml
index.html
robots.txt
sitemap.xml
assets/css/main.scss
assets/js/search-data.js
assets/js/distillpub/template.v2.js
assets/js/search/*.js
assets/plotly/demo.html
lighthouse_results/**
_posts/2015-10-20-math.md
_sass/font-awesome/*.scss
_sass/tabler-icons/*.scss
